*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  height: 100%;
}

.parent{
  width: 100%;
  height: 100vh;
  background-color: black;

  /* instead of margin-top on card */
  padding-top: 10px;
  padding-left: 10px;
}

.card{
  width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
}